/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #525454;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section {
    padding: 50px 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007bff;
}

/* Header Section */
header {
    background-color: #98b6e1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    padding: 10px;
    font-weight: bold;
}

/* About Section */
#about {
    background-color: #f4f4f4;
    text-align: center;
}

#about p {
    margin: 0 0 10px;
    font-size: 1.2rem;
}
#Skills {
   background-color: #f4f4f4;
   text-align: center;

}

/* Projects Section */
#projects {
    text-align: center;
}

.project {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
#contact {
    background-color: #f4f4f4;
    text-align: center;
}

form {
    display: inline-block;
    margin-top: 20px;
}

form input, form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #007bff;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    color: white;
}
